@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
<h2>About</h2>
<h3>A Cal Poly Pomona collaborative project</h3>
<h4>For Dr. Yu Sun's CS480 Software Engineering Class.</h4>
<ul>
    <li><p>Chan Ly - Backend Programming</p></li>
    <li><p>Ara Malayan - Backend Programming</p></li>
    <li><p>Nate McDorman - Frontend Programming and Website/UI</p></li>
    <li><p>Wei Yan - Backend Programming</p></li>
</ul>
