@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    <strong>School Address</strong><br />
        Cal Poly Pomona<br />
        3801 W Temple Ave, Pomona CA 91768<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Developers:</strong> <a href="mailto:natemcdorman@gmail.com">natemcdorman@gmail.com</a>
</address>